In [1]:
from transaction import *
from item import *

In [2]:
transaction1 = Transaction()

transaction1.add_item(Item("mobil",1,1000))
transaction1.add_item(Item("motor",2,2000))
transaction1.add_item(Item("sepeda",5,500))

for t in transaction1.Item:
    print(t.Name, t.Qty, t.Price, t.Total)

mobil 1 1000 1000
motor 2 2000 4000
sepeda 5 500 2500

In [512]:
transaction1.update_item_name("mobil","truk")
for t in transaction1.Item:
    print(t.Name, t.Qty, t.Price, t.Total)

truk 1 1000 1000
motor 2 2000 4000
sepeda 5 500 2500

In [513]:
transaction1.update_item_price("truk","2000")
for t in transaction1.Item:
    print(t.Name, t.Qty, t.Price, t.Total)

truk 1 2000 2000
motor 2 2000 4000
sepeda 5 500 2500

In [514]:
transaction1.delete_item("truk")
#transaction1.delete_item("motor")
for t in transaction1.Item:
    if t.Enable==1: print(t.Name, t.Qty, t.Price, t.Total)

motor 2 2000 4000
sepeda 5 500 2500

In [515]:
#transaction1.reset_transaction()
for t in transaction1.Item:
    if t.Enable==1: print(t.Name, t.Qty, t.Price, t.Total)

motor 2 2000 4000
sepeda 5 500 2500

In [516]:
transaction1.check_order()

| No | Nama Item | Jumlah Item | Harga/Item | Total Harga |
|----|-----------|-------------|------------|-------------|
| 1  | motor     | 2           | 2000       | 4000        |
| 2  | sepeda     | 5           | 500       | 2500        |

In [517]:
transaction1.total_price()

6500